<!-- /snippets/breadcrumb.liquid -->
{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}

{%- capture separator -%}
    <span aria-hidden="true" class="sf__breadcrumb-separator py-2">
        <svg class="w-[12px] h-[12px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z"/></svg>
    </span>
{%- endcapture -%}

{%- capture home -%}
    <a href="{{ routes.root_url }}" class="bread-crumb__item" title="{{ 'general.breadcrumbs.home_link_title' | t }}">
        {{ 'general.breadcrumbs.home' | t }}
    </a>
{%- endcapture -%}

{% if container == nil %}
  {% assign container = 'container-fluid' %}
{% endif %}

{% unless template == 'index' %}
    <nav
        class="sf-breadcrumb w-full {{ class }}{% if container == 'w-full' %} px-4{% endif %}"
        role="navigation"
        aria-label="breadcrumbs"
    >
      <div class="{{ container }}">
        <div class="flex -mx-4 items-center justify-{{ justify | default: 'start' }}"
        >
          {% unless template.name == 'product' %}
            {{ home }}
          {% endunless %}

          {% if template.name == 'product' %}
            <div class="sf-breadcrumb__nav flex items-center">
              {{ home }}
              {% liquid
                assign current_collection = null
                if collection
                  assign current_collection = collection
                elsif product and product.collections.size > 0
                  assign current_collection = product.collections.first
                endif
              %}
              {% if current_collection %}
                {{ separator }}
                {% if current_collection.handle %}
                  {% capture url %}/collections/{{ current_collection.handle }}{% endcapture %}
                  <a href="{{ url }}" class="bread-crumb__item">{{ current_collection.title }}</a>
                {% endif %}
              {% endif %}
              {% unless hide_current == true %}
                {{ separator }}
                <span class="sf__breabcrumb-page-title p-4">{{ product.title }}</span>
              {% endunless %}
            </div>
          {% elsif template.name == 'collection' and collection.handle %}

            {{ separator }}
            {% if current_tags %}
              {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
              <a href="{{ url }}" class="bread-crumb__item">{{ collection.title }}</a>
              {{ separator }}
              <span class="p-4">{{ current_tags | join: " + " }}</span>
            {% else %}
              <span class="p-4">{{ collection.title }}</span>
            {% endif %}

          {% elsif template.name == 'blog' %}

            {{ separator }}
            {% if current_tags %}
              <a href="{{ blog.url }}" class="bread-crumb__item">{{ blog.title }}</a>
              {{ separator }}
              <span class="p-4">{{ current_tags | join: " + " }}</span>
            {% else %}
              <span class="sf__breabcrumb-page-title p-4">{{ blog.title }}</span>
            {% endif %}

          {% elsif template == 'article' %}

            {{ separator }}
            <a href="{{ blog.url }}" class="bread-crumb__item">{{ blog.title }}</a>

          {% elsif template == "customers/addresses" %}

            {{ separator }}
            <a href="{{ routes.account_url }}" class="bread-crumb__item">{{ 'customer.account.page_title' | t }}</a>
            {{ separator }}
            <span class="sf__breabcrumb-page-title p-4">{{ page_title }}</span>

          {% elsif template contains 'page' %}

            {{ separator }}
            <span class="sf__breabcrumb-page-title p-4">{{ page.title }}</span>

          {% elsif template contains 'search' %}
            {{ separator }}
            <span class="sf__breabcrumb-page-title p-4">{{ 'general.search.heading' | t: count: search.results_count, terms: search.terms }}</span>

          {% else %}

            {{ separator }}
            <span class="sf__breabcrumb-page-title p-4">{{ page_title }}</span>

          {% endif %}
        </div>
      </div>
    </nav>
{% endunless %}
