{% assign aspect_ratio = item.image.aspect_ratio | default: 0.75 %}
<div class="scd-item"
  data-cart-item
  data-id="{{- item.key -}}"
  data-product-id="{{- item.product_id -}}"
  data-index="{{- forloop.index -}}"
>
  <div class="scd-item__inner flex items-start">
    <div class="scd-item__image">
      <a href="{{- item.url -}}" class="block as" style="--aspect-ratio: {{ aspect_ratio }}">
        {% if item.image != blank %}
          {{ item | image_url: width: 360 | image_tag: width: 360 }}
        {% else %}
          {{- 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' -}}
        {% endif %}
      </a>
    </div>
    <div class="scd-item__info">
      <a href="{{- item.url -}}" class="font-medium hover:underline">
        {{- item.product.title -}}
      </a>
      {%- unless item.product.has_only_default_variant -%}
        <div class="scd-item__variant mb-1">
          {%- for option in item.options_with_values -%}
            <p class="scd-item__variant-option"><span class="font-medium">{{- option.name -}}: </span> {{- option.value -}}</p>
          {%- endfor -%}

          {% comment %}Properties{% endcomment %}
          {%- liquid 
            assign property_size = item.properties | size
            assign properties = 'template ' | split: ' '
            if property_size > 0
              assign properties = item.properties
            endif  
          -%}
          {%- for p in properties -%}
            {%- assign property_first_char = p.first | slice: 0 -%}
            <p
                class="scd-item__variant-option {% if property_size == 0 or p.last == blank or property_first_char == '_' %}hidden{% endif %}"
                data-cart-item-property
            >
              <span class="sf-cart__item-label font-medium" data-cart-item-property-name>{{ p.first }}: </span>

              {%- comment -%}
                Check if there was an uploaded file associated
              {%- endcomment -%}
              <span data-cart-item-property-value>
                {%- if p.last contains '/uploads/' -%}
                  <a href="{{ p.last }}" data-role="product-upload" class="underline" target="_blank">{{ p.last | split: '/' | last }}</a>
                {%- else -%}
                  {{ p.last }}
                {%- endif -%}
              </span>
            </p>
          {%- endfor -%}
        </div>
      {%- endunless -%}
      <div class="scd-item__prices">
        {%- if item.original_price != item.final_price -%}
          <div class="cart-drawer__discounted-prices">
            <del class="scd-item__original-price text-color-sale-price">
              {% if settings.currency_code_enabled %}
                {{- item.original_price | money_with_currency -}}
              {% else %}
                {{- item.original_price | money -}}
              {% endif %}
            </del>
            <span class="scd-item__price scd-item__price--discount sf-currency text-color-regular-price">
              {% if settings.currency_code_enabled %}
                {{- item.final_price | money_with_currency -}}
              {% else %}
                {{- item.final_price | money -}}
              {% endif %}
            </span>
          </div>
        {%- else -%}
          <span class="scd-item__original-price scd-item__price sf-currency text-color-regular-price">
            {% if settings.currency_code_enabled %}
              {{- item.original_price | money_with_currency -}}
            {% else %}
            {{- item.original_price | money -}}
            {% endif %}
          </span>
        {%- endif -%}

        <div {% unless item.unit_price_measurement %}class="hidden"{% endunless %}>
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
          <span class="price-unit-price text-sm text-color-secondary">
          {%- capture unit_price_separator -%}
            <span aria-hidden="true">/</span>
            <span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
          {%- endcapture -%}

            {%- capture unit_price_base_unit -%}
              {%- if item.unit_price_measurement.reference_value != 1 -%}
                {{- item.unit_price_measurement.reference_value -}}
              {%- endif -%}
              {{ item.unit_price_measurement.reference_unit }}
            {%- endcapture -%}

          <span data-unit-price>{{ item.unit_price | money }}</span>
          {{- unit_price_separator -}}
          <span data-unit-price-base-unit>{{- unit_price_base_unit -}}</span>
        </span>
        </div>
      </div>

      {%- if item.discounts.size > 0 -%}
        <ul class="scd-item__discounts flex" role="list">
          {%- for discount in item.discounts -%}
            <li>
              <svg aria-hidden="true" width="20" height="20" focusable="false" role="presentation" viewBox="0 0 12 13"><path fill-rule="evenodd" clip-rule="evenodd" d="M7 .5h3a2 2 0 0 1 2 2v3a.995.995 0 0 1-.293.707l-6 6a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414l6-6A.995.995 0 0 1 7 .5zm2 2a1 1 0 1 0 2 0 1 1 0 0 0-2 0z" fill="currentColor"></path></svg>
              {{- discount.title -}}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      <div class="flex items-center mt-[10px]">
        <div class="scd-item__quantity flex justify-between rounded">
          <button class="scd-item__btn" data-id="{{- item.key -}}" data-qty-change="dec">-</button>
          <input
            class="py-1 scd-item__qty_input w-9 text-center"
            type="number"
            name="updates[]"
            data-id="{{- item.key -}}"
            value="{{- item.quantity -}}"
            min="0"
          />
          <button class="scd-item__btn" data-id="{{- item.key -}}" data-qty-change="inc">+</button>
        </div>
        <button class="scd-item__remove underline p-2 ml-2" data-id="{{- item.key -}}">
          {{- 'cart.general.remove' | t -}}
        </button>
      </div>
    </div>
  </div>
</div>
