{%- capture display_class -%}
    {% if display_by == 'full-info' %}flex items-center{% else %}relative py-2{% endif %}
{%- endcapture -%}
{%- capture icon_class -%}
    {% if request.path != '/cart' %}sf-cart-icon{% endif %}
{%- endcapture -%}

<a
    href="{{ routes.cart_url }}"
    class="{{ display_class | strip }} {{ icon_class | strip }} px-2 whitespace-nowrap cursor-pointer cart-icon"
    style="{% if display_by == 'text' %} margin-right: 0; {% endif %}"
>
    {% if display_by == 'full-info' %}
        <div
            class="relative rounded-full border border-color-border px-3 flex items-center justify-center"
            style="width: 48px; height: 48px;"
        >
            <span class="sf__tooltip-item block sf__tooltip-bottom sf__tooltip-style-2">
                <svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M352 128C352 57.42 294.579 0 224 0 153.42 0 96 57.42 96 128H0v304c0 44.183 35.817 80 80 80h288c44.183 0 80-35.817 80-80V128h-96zM224 48c44.112 0 80 35.888 80 80H144c0-44.112 35.888-80 80-80zm176 384c0 17.645-14.355 32-32 32H80c-17.645 0-32-14.355-32-32V176h48v40c0 13.255 10.745 24 24 24s24-10.745 24-24v-40h160v40c0 13.255 10.745 24 24 24s24-10.745 24-24v-40h48v256z"/></svg>
                <span class="sf__tooltip-content">{{ 'layout.cart.title' | t }}</span>
            </span>
            <sup class="sf-cart-count font-medium">{{ cart.item_count }}</sup>
        </div>
        <div class="ml-4">
            <p class="font-medium">{{ 'cart.general.title' | t }}</p>
            <p>{{ cart.total_price | money }}</p>
        </div>

        {% style %}
            .sf-cart-count {
                top: -0.25rem;
                right: -0.375rem;
            }
        {% endstyle %}
    {% elsif display_by == 'text' %}
        {{ 'layout.cart.title' | t }}
        <span class="sf-cart-count font-medium">{{ cart.item_count }}</span>
    {% else %}
        <span class="sf__tooltip-item block sf__tooltip-bottom sf__tooltip-style-2">
            <svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M352 128C352 57.42 294.579 0 224 0 153.42 0 96 57.42 96 128H0v304c0 44.183 35.817 80 80 80h288c44.183 0 80-35.817 80-80V128h-96zM224 48c44.112 0 80 35.888 80 80H144c0-44.112 35.888-80 80-80zm176 384c0 17.645-14.355 32-32 32H80c-17.645 0-32-14.355-32-32V176h48v40c0 13.255 10.745 24 24 24s24-10.745 24-24v-40h160v40c0 13.255 10.745 24 24 24s24-10.745 24-24v-40h48v256z"/></svg>
            <span class="sf__tooltip-content">{{ 'layout.cart.title' | t }}</span>
        </span>
        <span class="sf-cart-count font-medium">{{ cart.item_count }}</span>
    {% endif %}
</a>
