{{ 'image-card.css' | asset_url | stylesheet_tag }}

{% liquid
  assign image = block.settings.image
  assign text_size = block.settings.text_size
  assign text_color = block.settings.text_color
  assign button_fixed = block.settings.button_fixed

  assign content_position = ''
  case block.settings.content_position
    when 'top_left'
      assign content_position = ' items-start justify-start'
      if stack_on_mobile == true
        assign content_position = ' justify-center sm:items-start sm:justify-start'
      endif
    when 'top_right'
      assign content_position = ' justify-end items-start'
      if stack_on_mobile == true
        assign content_position = ' justify-center sm:items-start sm:justify-end'
      endif
    when 'top_center'
      assign content_position = ' items-start justify-center'
      if stack_on_mobile == true
        assign content_position = ' justify-center sm:items-start sm:justify-center'
      endif
    when 'bottom_left'
      assign content_position = ' items-end justify-start'
      if stack_on_mobile == true
        assign content_position = ' justify-center sm:items-end sm:justify-start'
      endif
    when 'bottom_right'
      assign content_position = ' items-end justify-end'
      if stack_on_mobile == true
        assign content_position = ' justify-center sm:items-end sm:justify-end'
      endif
    when 'bottom_center'
      assign content_position = ' justify-center items-end'
      if stack_on_mobile == true
        assign content_position = ' justify-center sm:items-end sm:justify-center'
      endif
    when 'center_left'
      assign content_position = ' justify-start items-center'
      if stack_on_mobile == true
        assign content_position = ' justify-center sm:items-center sm:justify-start'
      endif
    when 'center_right'
      assign content_position = ' items-center justify-end'
      if stack_on_mobile == true
        assign content_position = ' justify-center sm:items-center sm:justify-end'
      endif
    else
        assign content_position = ' items-center justify-center'
  endcase

  assign content_class = ' pointer-events-none absolute p-5 sm:p-10 inset-0' | append: content_position
  if stack_on_mobile == true
    assign content_class = ' sm:pointer-events-none sm:absolute inset-0 px-3 pt-2.5 sm:p-10' | append: content_position
  endif

  assign use_content_above = block.settings.use_content_above
%}
<div class="image-card {{ grid_columns }} sm:max-h-full {{ padding_bot | default: 'pb-0' }} {% if stack_on_mobile == true or use_content_above == false %}image-card--content-stack{% endif %} {% if button_fixed == true %}image-card--button-fixed{% endif %} {{ image_card_class }}">
    <div class="image-card__inner relative sm:overflow-hidden flex flex-col h-full w-full">
        {% if image != blank %}
            <{% if block.settings.link %}a{% else %}div{% endif %} class="image-card__img block h-full" href="{{ block.settings.link | default: "#" }}">
                {% render 'responsive-image', image: image, wrapper_class: 'w-full h-full' %}
            </{% if block.settings.link %}a{% else %}div{% endif %}>
        {% else %}
            <div class="image-card__img  h-full w-full sf__placeholder-wrapper sf-image--loaded">
                {% capture current %}{% cycle 1, 2, 3, 4, 5 %}{% endcapture %}
                {{ 'collection-' | append: current | placeholder_svg_tag: 'sf__placeholder-svg sf__placeholder-svg-no-border object-cover w-full h-full' }}
            </div>
        {% endif %}
        <div class="image-card__content flex z-10 {{ content_class }}">
            <div class="image-card__content-inner {% if stack_on_mobile == true %}text-center sm:text-{{ block.settings.content_alignment }}{% else %}text-{{ block.settings.content_alignment }}{% endif %}">
                <div class="image__card-heading-group">
                    {% if block.settings.subtitle != blank %}
                    <p class="image__card-subheading {% if stack_on_mobile == true or use_content_above == false %}md:text-{{ text_color }}{% else %} text-{{ text_color }} {% endif %} text-sm md:text-base mb-2">{{ block.settings.subtitle }}</p>
                    {% endif %}
                    {% if block.settings.title != blank %}
                        <h3 class="image__card-heading {% if stack_on_mobile == true or use_content_above == false %}md:text-{{ text_color }}{% else %} text-{{ text_color }} {% endif %} {% if text_size == 'medium' %}text-2xl sm:text-3xl md:text-4xl {% else %}text-2xl sm:text-5xl {% endif %} mb-4">{{ block.settings.title }}</h3>
                    {% endif %}
                </div>
                {% if block.settings.button_label != blank %}
                    <a href="{{ block.settings.link }}" class="pointer-events-auto sf__btn {{ block.settings.button_style }} {{ block.settings.button_size }} {% if stack_on_mobile == true %}md:text-{{ text_color }}{% else %}text-{{ text_color }}{% endif %}">
                      {{ block.settings.button_label }}
                    </a>
                    {% if button_fixed == true %}
                      <a href="{{ block.settings.link }}" class="pointer-events-auto sf__btn sf__btn-fixed {{ block.settings.button_size }} {% if stack_on_mobile == true %}md:text-{{ text_color }}{% else %}text-{{ text_color }}{% endif %}">
                        {{ block.settings.button_label }}
                        <svg class="w-[14px] h-[14px]" viewBox="0 0 15 15" fill="none">
                          <path d="M6.8125 0.349609C7 0.182943 7.17708 0.182943 7.34375 0.349609L13.875 6.91211C14.0625 7.07878 14.0625 7.24544 13.875 7.41211L7.34375 13.9746C7.17708 14.1413 7 14.1413 6.8125 13.9746L6.1875 13.3496C6.125 13.2871 6.09375 13.2038 6.09375 13.0996C6.09375 12.9954 6.125 12.9017 6.1875 12.8184L11.0312 7.97461H0.375C0.125 7.97461 0 7.84961 0 7.59961V6.72461C0 6.47461 0.125 6.34961 0.375 6.34961H11.0312L6.1875 1.50586C6.02083 1.31836 6.02083 1.14128 6.1875 0.974609L6.8125 0.349609Z" fill="currentColor"/>
                        </svg>
                      </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
