{% assign review_app = settings.review_app %}
<div class="sf__product-reviews">
  {% if custom_liquid != blank %}
    {{ custom_liquid }}
  {% else %}
    {% case review_app %}
      {% when 'shopify' %}
        <div id="shopify-product-reviews" data-id="{{ product.id }}">
          {{ product.metafields.spr.reviews }}
        </div>
      {% when 'judge' %}
        {% capture judgeme_widgets %}{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}{% endcapture %}
        {% unless judgeme_widgets contains 'Liquid error' %}
          {{ judgeme_widgets }}
        {% else %}
          {% render 'mm-judgeme-widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
        {% endunless %}
      {% when 'loox' %}
        <div id="looxReviews" data-product-id="{{ product.id }}" class="loox-reviews-default"></div>
      {% when 'growave' %}
        {% capture the_snippet_reviews %}{% render 'socialshopwave-widget-recommends' with 1 %}{% endcapture %}
        {% unless the_snippet_reviews contains 'Liquid error' %}
          {{ the_snippet_reviews }}
        {% else %}
          {% render 'mm-socialshopwave-widget-recommends' with 1 %}
        {% endunless %}
      {% when 'lai_reviews' %}
        {% render "reviews-importer" %}
      {% when 'yotpo' %}
        <div class="yotpo yotpo-main-widget"
             data-product-id="{{ product.id }}"
             data-name="{{ product.title | escape }}"
             data-url="{{ shop.url }}{{ product.url }}"
             data-image-url="{{ product.featured_image | product_image_url: 'large' | replace: '?', '%3F' | replace: '&', '%26' }}"
             data-price="{{ variant.price | money_without_currency }}"
             data-currency="{{ shop.currency }}"
             data-description="{{ product.description | escape }}">
        </div>
      {% when 'automizely' %}

      {% when 'stamped' %}
        <div
          id="stamped-main-widget"
          data-product-id="{{ product.id }}"
          data-name="{{ product.title | escape }}"
          data-url="{{ shop.url }}{{ product.url }}"
          data-image-url="{{ product.featured_image | product_image_url: "large" | replace: '?', '%3F' | replace: '&', '%26' }}"
          data-description="{{ product.description | escape }}"
          data-product-sku="{{ product.handle }}"
          data-product-title="{{ product.title }}"
          data-product-type="{{ product.type }}"
        >
          {{ product.metafields.stamped.reviews }}
        </div>
      {% when 'ali_reviews' %}

    {% endcase %}
  {% endif %}
</div>
