{% liquid 
    if thumbnail == nil
        assign thumbnail = false
    endif

    if autoplay == nil 
        assign autoplay = false
    endif
%}
{%- if media.media_type != 'image' and thumbnail == false -%}
  {%- if media.media_type == 'model' -%}
    <div style="--aspect-ratio: {{ media.preview_image.aspect_ratio }}">
    <product-model class="deferred-media no-js-hidden media-model" style="padding-top: 100%" data-media-id="{{ media.id }}" data-auto-play="{{ autoplay }}">
  {%- else -%}
    <deferred-media class="deferred-media no-js-hidden" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%" data-media-id="{{ media.id }}" data-auto-play="{{ autoplay }}">
  {%- endif -%}
  <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
    <span class="deferred-media__poster-button motion-reduce">
      {%- if media.media_type == 'model' -%}
          {%- render 'icon-3d-model' -%}
      {%- else -%}
          {%- render 'icon-play' -%}
      {%- endif -%}
    </span>
    <img
     srcset="{% if media.preview_image.width >= 493 %}{{ media.preview_image | image_url: width: 493 }} 493w,{% endif %}
        {% if media.preview_image.width >= 600 %}{{ media.preview_image | image_url: width: 600 }} 600w,{% endif %}
        {% if media.preview_image.width >= 713 %}{{ media.preview_image | image_url: width: 713 }} 713w,{% endif %}
        {% if media.preview_image.width >= 823 %}{{ media.preview_image | image_url: width: 823 }} 823w,{% endif %}
        {% if media.preview_image.width >= 990 %}{{ media.preview_image | image_url: width: 990 }} 990w,{% endif %}
        {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
        {% if media.preview_image.width >= 1206 %}{{ media.preview_image | image_url: width: 1206 }} 1206w,{% endif %}
        {% if media.preview_image.width >= 1346 %}{{ media.preview_image | image_url: width: 1346 }} 1346w,{% endif %}
        {% if media.preview_image.width >= 1426 %}{{ media.preview_image | image_url: width: 1426 }} 1426w,{% endif %}
        {% if media.preview_image.width >= 1646 %}{{ media.preview_image | image_url: width: 1646 }} 1646w,{% endif %}
        {% if media.preview_image.width >= 1946 %}{{ media.preview_image | image_url: width: 1946 }} 1946w,{% endif %}
        {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
        src="{{ media | image_url: width: 1946 }}"
        sizes="(min-width: {{ settings.container_width }}px) {{ settings.container_width | minus: 100 | times: 0.55 | round }}px, (min-width: 990px) calc({{ 0.55 | times: 100 }}vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        {% unless index == 0 %}
          loading="lazy"
          fetchpriority="high"
        {% endunless %}
        width="1000"
        height="{{ 1000 | divided_by: media.preview_image.aspect_ratio | ceil }}"
        alt="{{ media.preview_image.alt | escape }}"
    >
    </button>  
  <template>
    {%- liquid
        assign mute = false
        if autoplay
          assign mute = true
        endif
        case media.media_type
            when 'external_video'
                assign video_class = 'js-' | append: media.host
                if media.host == 'youtube'
                    echo media | external_video_url: autoplay: autoplay, loop: loop, mute: mute, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy"
                else
                    echo media | external_video_url: autoplay: autoplay, loop: loop, mute: mute | external_video_tag: class: video_class, loading: "lazy"
                endif
            when 'video'
                echo media | media_tag: image_size: "2048x", autoplay: autoplay, loop: loop, controls: true, preload: "none"
            when 'model'
                echo media | media_tag: image_size: "2048x", toggleable: true
        endcase
    -%}
  </template>
  {%- if media.media_type == 'model' -%}
    </product-model>
    </div>
  {%- else -%}
    </deferred-media>
  {%- endif -%}
{%- else -%}
<div class="sf-prod-media media-image" data-media-id="{{ media.id }}">
    <responsive-image class="sf-image" data-image-loading style="--aspect-ratio: {{ aspect_ratio | default: media.preview_image.aspect_ratio }}">
      {% if thumbnail %}
        <img src="{{ media | image_url: width: 110 }}" loading="lazy" width="110" height="{{ 110 | divided_by: media.preview_image.aspect_ratio | ceil }}" />
      {% else %}
        <img
          srcset="{% if media.preview_image.width >= 493 %}{{ media.preview_image | image_url: width: 493 }} 493w,{% endif %}
              {% if media.preview_image.width >= 600 %}{{ media.preview_image | image_url: width: 600 }} 600w,{% endif %}
              {% if media.preview_image.width >= 713 %}{{ media.preview_image | image_url: width: 713 }} 713w,{% endif %}
              {% if media.preview_image.width >= 823 %}{{ media.preview_image | image_url: width: 823 }} 823w,{% endif %}
              {% if media.preview_image.width >= 990 %}{{ media.preview_image | image_url: width: 990 }} 990w,{% endif %}
              {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
              {% if media.preview_image.width >= 1206 %}{{ media.preview_image | image_url: width: 1206 }} 1206w,{% endif %}
              {% if media.preview_image.width >= 1346 %}{{ media.preview_image | image_url: width: 1346 }} 1346w,{% endif %}
              {% if media.preview_image.width >= 1426 %}{{ media.preview_image | image_url: width: 1426 }} 1426w,{% endif %}
              {% if media.preview_image.width >= 1646 %}{{ media.preview_image | image_url: width: 1646 }} 1646w,{% endif %}
              {% if media.preview_image.width >= 1946 %}{{ media.preview_image | image_url: width: 1946 }} 1946w,{% endif %}
              {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
          src="{{ media | image_url: width: 1946 }}"
          sizes="(min-width: {{ settings.container_width }}px) {{ settings.container_width | minus: 100 | times: 0.55 | round }}px, (min-width: 990px) calc({{ 0.55 | times: 100 }}vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
          {% unless index == 0 %}
          loading="lazy"
          fetchpriority="high"
          {% endunless %}
          width="1000"
          height="{{ 1000 | divided_by: media.preview_image.aspect_ratio | ceil }}"
          alt="{{ media.preview_image.alt | escape }}"
        >
      {% endif %}
    </responsive-image>
</div>
{%- endif -%}