<style>
  .variant-picker__input input[type=radio] {
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
  }
</style>
{% liquid 
  assign is_size = false
  assign size_title_downcase = size_title | downcase
  assign picker_type = settings.variant_picker_type
  assign picker_types = ''
  assign option_labels = ''

  for option in product.options_with_values
    assign found_option = false
    assign option_design = ''
    assign option_label = option.name

    for i in (1..5)
      unless found_option == true
        assign option_name_key = 'variant_option_title' | append: i
        assign option_design_key = 'variant_option_design' | append: i
        assign option_label_key = 'variant_option_display_name' | append: i

        assign option_name = settings[option_name_key]
        if option_name == option.name
            assign found_option = true
            assign option_design = settings[option_design_key]
            assign option_label = settings[option_label_key] | default: option.name
        endif
      endunless
    endfor

    assign design = option_design | prepend: ','
    assign option_label = option_label | prepend: ','
    if found_option == false or option_design == ''
        assign design = settings['variant_option_design_default'] | prepend: ','
    endif

    assign picker_types = picker_types | append: design
    assign option_labels = option_labels | append: option_label
  endfor
  assign picker_types = picker_types | remove_first: ',' | split: ','
  assign option_labels = option_labels | remove_first: ',' | split: ','

  assign enableVariantGroupImg = false
  if section.settings.enable_variant_group_images and product.metafields.foxecom-bs-kit.variant-images.value.enable
    assign enableVariantGroupImg = true
  endif
%}

<div data-variant-picker data-product-id="{{ product.id }}" data-enable-variant-group-images="{{ enableVariantGroupImg }}" data-section="{{ section.id }}" data-product-handle="{{ product.handle }}" data-product-url="{{ product.url }}" data-max-options="{{ product.options_with_values.size }}">
  <variant-picker data-update-url="{{ update_browser_history }}">
    {%- unless product.has_only_default_variant -%}
    {%- for option in product.options_with_values -%}
      {% liquid
        assign picker_type = picker_types[forloop.index0]
        assign option_label = option_labels[forloop.index0]
        assign option_name_downcase = option.name | downcase
        if size_title_downcase contains option_name_downcase
            assign is_size = true
        else
            assign is_size = false
        endif
      %}
      <div class="product-options__option product-options__option--{{ picker_type }}">
        {%- case picker_type -%}
          {% when 'dropdown' %}
            <variant-select data-picker-field="select" data-option-name="{{ option.name }}" data-selected-value="{{ option.selected_value }}">
              <div class="prod__option-label font-medium flex flex-wrap items-center justify-between prod__option-label--dropdown">
                <label class="form-label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                  <span class="font-semibold">{{ option_label }}:</span>
                  <span class="selected-value">{{ option.selected_value }}</span>
                </label>
                {% if is_size %}
                  <button data-open-sizeguide class="inline-flex items-center hidden">
                    <svg class="w-[24px] h-[24px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M608 128H32c-17.67 0-32 14.33-32 32v192c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V160c0-17.67-14.33-32-32-32zm0 224H32V160h80v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h80v192z"/></svg>
                    <span class="ml-2 ">{{ 'products.product.size_guide' | t }}</span>
                  </button>
                {% endif %}
              </div>
              <div class="prod__option prod__option--dropdown sf__select-bordered">
                <div class="inline-flex flex-wrap">
                  <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                    class="sf-product-variant-option-dropdown h-11 border border-color-border rounded w-full pl-4 pr-10 cursor-pointer"
                    name="options[{{ option.name | escape }}]"
                    form="{{ product_form_id }}">
                    {%- for value in option.values -%}
                      <option value="{{ value | escape }}" class="variant-picker__option product-option-item" data-value="{{- value | escape -}}" data-option-position="{{ option.position }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{- value -}}
                      </option>
                    {%- endfor -%}
                  </select>
                </div>
              </div>
            </variant-select>
          {% when 'color' %}
            <variant-color class="variant-picker__field" data-picker-field="radio" data-option-name="{{ option.name }}" data-selected-value="{{ option.selected_value }}">
              <div class="js variant-picker__input variant-picker__color flex flex-col">
                <div class="prod__option-label font-medium flex flex-wrap items-center justify-between prod__option-label--color">
                  <label class="form__label">
                    <span class="font-semibold">{{ option_label }}:</span>
                    <span class="selected-value option-label">{{ option.selected_value }}</span>
                  </label>
                  {% if is_size %}
                    <button data-open-sizeguide class="inline-flex items-center hidden">
                      <svg class="w-[24px] h-[24px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M608 128H32c-17.67 0-32 14.33-32 32v192c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V160c0-17.67-14.33-32-32-32zm0 224H32V160h80v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h80v192z"/></svg>
                      <span class="ml-2 ">{{ 'products.product.size_guide' | t }}</span>
                    </button>
                  {% endif %}
                </div>
                <div class="prod__option prod__option--color">
                  <div class="variant-picker__option-values inline-flex flex-wrap">
                    {%- for value in option.values -%}
                        <div
                            class="variant-picker__option sf__tooltip-item sf__tooltip-top"
                            data-option-position="{{ option.position }}"
                            data-option-type="{{ picker_type }}"
                            data-value="{{- value | escape -}}"
                        >
                          <div class="sf__variant-swatch flex justify-center items-center">
                            <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                              name="{{ option.name }}"
                              value="{{ value | escape }}"
                              form="{{ product_form_id }}"
                              class="vissu"
                              {% if option.selected_value == value %}checked{% endif %}
                            >
                          <label data-option-type="{{ picker_type }}" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="product-option-item variant-picker__option-button flex items-center justify-center cursor-pointer text-white variant-picker__option-button variant-picker__option-button--{{ picker_type }}">
                              {{- value -}}
                          </label>
                          </div>
                            <span class="sf__tooltip-content capitalize">{{- value -}}</span>
                        </div>
                    {%- endfor -%}
                </div>
                </div>
              </div>
            </variant-color>
          {% when 'image' %}
            <variant-image class="variant-picker__field" data-picker-field="radio" data-option-name="{{ option.name }}" data-selected-value="{{ option.selected_value }}">
              <div class="js variant-picker__input variant-picker__image">
                <div class="prod__option-label font-medium flex flex-wrap items-center justify-between prod__option-label--image">
                  <label class="form__label">
                    <span class="font-semibold">{{ option_label }}:</span>
                    <span class="selected-value option-label">{{ option.selected_value }}</span>
                  </label>
                  {% if is_size %}
                    <button data-open-sizeguide class="inline-flex items-center hidden">
                      <svg class="w-[24px] h-[24px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M608 128H32c-17.67 0-32 14.33-32 32v192c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V160c0-17.67-14.33-32-32-32zm0 224H32V160h80v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h80v192z"/></svg>
                      <span class="ml-2 ">{{ 'products.product.size_guide' | t }}</span>
                    </button>
                  {% endif %}
                </div>
                <div class="prod__option prod__option--image">
                  <div class="variant-picker__option-values inline-flex flex-wrap">
                    {%- for value in option.values -%}
                      <div
                        class="variant-picker__option sf__tooltip-item sf__tooltip-top"
                        data-option-position="{{ option.position }}"
                        data-option-type="{{ picker_type }}"
                        data-value="{{- value | escape -}}"
                        style="--option-aspect-ratio: {{ product.featured_image.aspect_ratio | default: '1' }}"
                      >
                        <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                          name="{{ option.name }}"
                          value="{{ value | escape }}"
                          form="{{ product_form_id }}"
                          {% if option.selected_value == value %}checked{% endif %}
                        >
                        <label data-option-type="{{ picker_type }}" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="product-option-item variant-picker__option-button border border-color-border flex items-center justify-center mr-2 mb-2 cursor-pointer variant-picker__option-button variant-picker__option-button--{{ picker_type }}">
                            {{- value -}}
                        </label>
                        <span class="sf__tooltip-content capitalize">{{- value -}}</span>
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              </div>
            </variant-image>
          {% when 'button' %}
            <variant-button class="variant-picker__field" data-picker-field="radio" data-option-name="{{ option.name }}" data-selected-value="{{ option.selected_value }}">
              <div class="js variant-picker__input variant-picker__button">
                <div class="prod__option-label font-medium flex flex-wrap items-center justify-between prod__option-label--button">
                  <label class="form__label">
                    <span class="font-semibold">{{ option_label }}:</span>
                    <span class="selected-value option-label">{{ option.selected_value }}</span>
                  </label>
                  {% if is_size %}
                    <button data-open-sizeguide class="inline-flex items-center hidden">
                      <svg class="w-[24px] h-[24px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M608 128H32c-17.67 0-32 14.33-32 32v192c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V160c0-17.67-14.33-32-32-32zm0 224H32V160h80v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h80v192z"/></svg>
                      <span class="ml-2 ">{{ 'products.product.size_guide' | t }}</span>
                    </button>
                  {% endif %}
                </div>
                <div class="prod__option prod__option--button">
                  <div class="variant-picker__option-values inline-flex flex-wrap">
                    {%- for value in option.values -%}
                      <div
                          class="variant-picker__option"
                          data-option-position="{{ option.position }}"
                          data-option-type="{{ picker_type }}"
                          data-value="{{- value | escape -}}"
                      >
                          <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                             name="{{ option.name }}"
                             value="{{ value | escape }}"
                             form="{{ product_form_id }}"
                             {% if option.selected_value == value %}checked{% endif %}
                          >
                          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="product-option-item sf-po__option-button border border-color-border flex items-center justify-center mr-2 mb-2 cursor-pointer variant-picker__option-button variant-picker__option-button--{{ picker_type }}">
                              {{- value -}}
                          </label>
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              </div>
            </variant-button>
          {% else %}
          <variant-color class="variant-picker__field" data-picker-field="radio" data-option-name="{{ option.name }}" data-selected-value="{{ option.selected_value }}">
            <div class="js variant-picker__input variant-picker__color flex flex-col">
              <div class="prod__option-label font-medium flex flex-wrap items-center justify-between prod__option-label--color">
                <label class="form__label">
                  <span class="font-semibold">{{ option_label }}:</span>
                  <span class="selected-value option-label">{{ option.selected_value }}</span>
                </label>
                {% if is_size %}
                  <button data-open-sizeguide class="inline-flex items-center hidden">
                    <svg class="w-[24px] h-[24px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M608 128H32c-17.67 0-32 14.33-32 32v192c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V160c0-17.67-14.33-32-32-32zm0 224H32V160h80v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h80v192z"/></svg>
                    <span class="ml-2 ">{{ 'products.product.size_guide' | t }}</span>
                  </button>
                {% endif %}
              </div>
              <div class="prod__option prod__option--color">
                <div class="variant-picker__option-values inline-flex flex-wrap">
                  {%- for value in option.values -%}
                      <div
                          class="variant-picker__option sf__tooltip-item sf__tooltip-top"
                          data-option-position="{{ option.position }}"
                          data-option-type="color"
                          data-value="{{- value | escape -}}"
                      >
                        <div class="sf__variant-swatch flex justify-center items-center">
                          <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                            name="{{ option.name }}"
                            value="{{ value | escape }}"
                            form="{{ product_form_id }}"
                            class="vissu"
                            {% if option.selected_value == value %}checked{% endif %}
                          >
                        <label data-option-type="color" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="product-option-item flex items-center justify-center cursor-pointer text-white variant-picker__option-button variant-picker__option-button--{{ picker_type }}">
                            {{- value -}}
                        </label>
                        </div>
                          <span class="sf__tooltip-content capitalize">{{- value -}}</span>
                      </div>
                  {%- endfor -%}
              </div>
              </div>
            </div>
          </variant-color>
        {%- endcase -%}
      </div>
    {%- endfor -%}
    {%- endunless -%}
  </variant-picker>
  <script id="productVariants" type="application/json">
    {{ product.variants | json }}
  </script>
  {%- if section.settings.enable_variant_group_images -%}
    <script id="variantGroup" type="application/json">
      {{ product.metafields.foxecom-bs-kit.variant-images.value | json }}
    </script>
  {%- endif -%}
</div>
