{%- liquid
  if product.available 
    assign variant_id = product.first_available_variant.id
  else 
    assign variant_id = product.selected_or_first_available_variant.id
  endif
  assign selected_variant_id = ''
  if section.settings.change_product_variant_on_fitlering
    assign variant_id = product.selected_or_first_available_variant.id
    assign selected_variant_id = product.selected_variant.id
  endif
-%}
{%- if settings.show_cart_button -%}
  <div class="sf__pcard-quick-add {{ product.selected_variant.id }}">
    {%- if product.has_only_default_variant -%}
      <product-form class="f-product-form w-full product-form form" data-product-id="{{ product.id }}">
        {%- form 'product', product, 
              id: product_form_id, 
              class: 'product-card-form', 
              novalidate: 'novalidate' -%}
              <input hidden name="id" required value="{{ variant_id }}" data-selected-variant="{{ selected_variant_id }}">
              {%- liquid 
                assign atc_text = 'products.product.add_to_cart' | t
              -%}
              {% if is_preorder == "true" %}
                {%- capture quick_add_text -%}
                  {% render 'new-locale', key: 'products.product.preorder' %}
                {%- endcapture -%}
                <input type="hidden" name="properties[_{% render 'new-locale', key: 'products.product.preorder_note' %}]" value="true">
                <input type="hidden" name="properties[_foxDiscount[plugin]]" value="PreOrder">
                <input type="hidden" name="properties[_foxDiscount[offer_id]]" value="{{ product.metafields.foxkit.preorder.id }}">
              {% endif %}
            <button
                class="add-to-cart sf__btn w-full flex-grow shrink not-change relative sf__btn-secondary sf__btn-white" name="add"
                {% if variant.available == false %}disabled{% endif %}
                aria-label="{{ 'products.product.add_to_cart' | t }}"
            >
              <span class="atc-spinner inset-0 absolute items-center justify-center">
                <svg class="animate-spin w-[20px] h-[20px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              </span>
              <span class="not-change atc-text">
                {% if product.available %}
                  {{ quick_add_text | default: atc_text }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
            </button>
        {%- endform -%}
      </product-form>
    {% else %}
      {% if settings.select_option_button_action == 'popup' %}
        <input hidden name="id" required value="{{ variant_id }}" data-selected-variant="{{ selected_variant_id }}">
      <button class="f-product-form sf-pqv__button sf__btn sf__btn-secondary sf__btn-white flex-grow" data-product-url="{{ product.url }}" data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}">
        <span>{{ quick_add_text }}</span>
      </button>
      {% else %}
      <input hidden name="id" required value="{{ variant_id }}" data-selected-variant="{{ selected_variant_id }}">
        <a class="f-product-form sf__btn sf__btn-secondary sf__btn-white flex-grow" href="{{ product.url }}" data-product-id="{{ product.id }}">
          <span>{{ quick_add_text }}</span>
        </a>
      {% endif %}
    {% endif %}
  </div>
{%- endif -%}
