<quantity-input class="quantity-input h-[46px] flex border border-color-border rounded {{ class }}" data-product-id="{{ product.id }}">
    <button
            class="quantity-input__button flex items-center justify-center h-[46px] w-[46px]"
            type="button"
            aria-label="{{ 'products.product.decrease_quantity' | t: title: product.title }}"
            data-quantity-selector="decrease"
            data-product-id="{{ product.id }}"
            name="minus"
    >
        <svg class="w-[12px] h-[12px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M376 232H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h368c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z"/></svg>
    </button>
    <input
            class="quantity-input__element w-10 text-center flex-grow shrink appearance-none"
            type="number"
            name="quantity"
            value="1"
            min="1"
            aria-label="{{ 'products.product.product_quantity' | t }}"
            data-quantity-input
            data-product-id="{{ product.id }}"
            form="{{ product_form_id }}"
    >
    <button
            class="quantity-input__button flex items-center justify-center h-[46px] w-[46px]"
            type="button"
            aria-label="{{ 'products.product.increase_quantity' | t: title: product.title }}"
            data-quantity-selector="increase"
            data-product-id="{{ product.id }}"
            name="plus"
    >
        <svg class="w-[12px] h-[12px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M376 232H216V72c0-4.42-3.58-8-8-8h-32c-4.42 0-8 3.58-8 8v160H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h160v160c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V280h160c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z"/></svg>
    </button>
</quantity-input>
