<!doctype html>
<html
    class="no-js supports-no-cookies"
    lang="{{ shop.locale }}"
    style="--sf-page-opacity: 0;"
>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">
    
  {%- liquid
    render 'preload'
    render 'SEO'
    render 'social-meta-tags'
    render 'font-face'
  -%}

  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'style-tags' %}
  {% render 'custom-code-head' %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'chunk.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'theme-global.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'lazy-image.min.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
  {% style %}
    .sf__newsleter-form  input,
    .sf__password-form input {
      margin: 0;
    }
  {% endstyle %}
</head>
<body
    class="template-{{ template.name | handle }} relative min-h-screen"
>
    <div class="hidden">{% section 'header' %}</div>
    <main role="main" id="MainContent" style="padding-top: 0 !important;">
        {{ content_for_layout }}
    </main>
    {% render 'custom-code-body' %}
    {% render 'foxkit-messenger' %}
    {% render 'script-tags' %}
    <script src="{{ 'app.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'foxkit-app.min.js' | asset_url }}" defer="defer"></script>

    {% if settings.show_quickview_button %}
      <script src="{{ 'quick-view.min.js' | asset_url }}" defer="defer"></script>
    {% endif %}
    {% if settings.show_swatch_option %}
      <script src="{{ 'product-card-swatch.min.js' | asset_url }}" defer="defer"></script>
    {% endif %}
</body>
</html>
