{{ 'image-comparison.css' | asset_url | stylesheet_tag }}
{% liquid
	assign container = section.settings.container
	assign section_id = section.settings.custom_id | default: section.id
	assign custom_class = section.settings.custom_class
	assign layout = section.settings.layout
	assign image_height = section.settings.image_height

	unless custom_class == blank
		assign custom_class = custom_class | prepend: ' '
	endunless

	if image_height == 'adapt'
		assign first_block = section.blocks.first
		assign aspect_ratio = first_block.settings.image.aspect_ratio | default: 2.333
		assign aspect_ratio_mobile = first_block.settings.image_mobile.aspect_ratio | default: 1.778
  endif
%}

<section
	id="{{ section_id }}"
	data-section-type="image-comparison"
	data-section-id="{{ section.id }}"
	class="{{ custom_class }} sf-section-padding color-{{ section.settings.color_schema }}"
	style="--section-padding-top: {{ section.settings.padding_top }}px ; --section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
	<div class="{{ container }}">
		{% render 'index-section-header', section_settings: section.settings %}
		<m-image-comparison
			class="m-image-comparison"
			data-layout="{{ layout }}"
		>
			{% for block in section.blocks %}
				{% liquid 
					assign image = block.settings.image
					assign image_mobile = block.settings.image_mobile
					assign heading = block.settings.heading
					assign image_class = ''
					if image_mobile != blank
						assign image_class = image_class | append: ' has-mobile-image'
					endif
				%}
				{% if forloop.index == 1 %}
					<div class="m-image-comparison__before m-image-comparison--media">
						{% if heading != blank %}<p class="m-image-comparison__heading h6">{{ heading }}</p>{% endif %}
						<div 
							class="m-image-comparison__wrapper m-image-comparison--{{ image_height }}{{ image_class }}"
							{% if image_height == 'adapt' %}
								style="--aspect-ratio: {{ aspect_ratio }}; --aspect-ratio-mobile: {{ aspect_ratio_mobile }}"
							{% endif %}
						>
							{% if image != blank %}
								<img
                  srcset="{%- if image.width >= 375 -%}{{ image | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if image.width >= 550 -%}{{ image | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if image.width >= 750 -%}{{ image | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if image.width >= 1100 -%}{{ image | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if image.width >= 1500 -%}{{ image | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if image.width >= 1780 -%}{{ image | image_url: width: 1780 }} 1780w,{%- endif -%}
                      {%- if image.width >= 2000 -%}{{ image | image_url: width: 2000 }} 2000w,{%- endif -%}
                      {%- if image.width >= 3000 -%}{{ image | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {%- if image.width >= 3840 -%}{{ image | image_url: width: 3840 }} 3840w,{%- endif -%}
                      {{ image | image_url }} {{ image.width }}w"
                  sizes="100vw"
                  src="{{ image | image_url: width: 1500 }}"
                  loading="lazy"
                  alt="{{ image.alt | escape }}"
                  width="{{ image.width }}"
                  height="{{ image.width | divided_by: image.aspect_ratio | round }}"
									class="m-image-comparison--image-desktop"
              	>
							{% else %}
								{{ 'lifestyle-1' | placeholder_svg_tag: 'sf__placeholder-svg m-image-comparison--image-desktop' }}
							{% endif %}
							{% if image_mobile != blank %}
								<img
									srcset="{%- if image_mobile.width >= 375 -%}{{ image_mobile | image_url: width: 375 }} 375w,{%- endif -%}
									{%- if image_mobile.width >= 550 -%}{{ image_mobile | image_url: width: 550 }} 550w,{%- endif -%}
									{%- if image_mobile.width >= 750 -%}{{ image_mobile | image_url: width: 750 }} 750w,{%- endif -%}
									{{ image_mobile | image_url }} {{ image_mobile.width }}w"
									sizes="100vw"
									src="{{ image_mobile | image_url: width: 750 }}"
									loading="lazy"
									alt="{{ image_mobile.alt | escape }}"
									width="{{ image_mobile.width }}"
									height="{{ image_mobile.width | divided_by: image_mobile.aspect_ratio | round }}"
									class="m-image-comparison--image-mobile"
								>
							{% endif %}
						</div>
					</div>
				{% else %}
					<div class="m-image-comparison__after m-image-comparison--media">
						{% if heading != blank %}<p class="m-image-comparison__heading h6">{{ heading }}</p>{% endif %}
						<div 
							class="m-image-comparison__wrapper m-image-comparison--{{ image_height }}{{ image_class }}"
							{% if image_height == 'adapt' %}
								style="--aspect-ratio: {{ aspect_ratio }}; --aspect-ratio-mobile: {{ aspect_ratio_mobile }}"
							{% endif %}
						>
							{% if image != blank %}
								<img
                  srcset="{%- if image.width >= 375 -%}{{ image | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if image.width >= 550 -%}{{ image | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if image.width >= 750 -%}{{ image | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if image.width >= 1100 -%}{{ image | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if image.width >= 1500 -%}{{ image | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if image.width >= 1780 -%}{{ image | image_url: width: 1780 }} 1780w,{%- endif -%}
                      {%- if image.width >= 2000 -%}{{ image | image_url: width: 2000 }} 2000w,{%- endif -%}
                      {%- if image.width >= 3000 -%}{{ image | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {%- if image.width >= 3840 -%}{{ image | image_url: width: 3840 }} 3840w,{%- endif -%}
                      {{ image | image_url }} {{ image.width }}w"
                  sizes="100vw"
                  src="{{ image | image_url: width: 1500 }}"
                  loading="lazy"
                  alt="{{ image.alt | escape }}"
                  width="{{ image.width }}"
                  height="{{ image.width | divided_by: image.aspect_ratio | round }}"
									class="m-image-comparison--image-desktop"
              	>
							{% else %}
								{{ 'lifestyle-2' | placeholder_svg_tag: 'sf__placeholder-svg m-image-comparison--image-desktop' }}
							{% endif %}
							{% if image_mobile != blank %}
								<img
									srcset="{%- if image_mobile.width >= 375 -%}{{ image_mobile | image_url: width: 375 }} 375w,{%- endif -%}
									{%- if image_mobile.width >= 550 -%}{{ image_mobile | image_url: width: 550 }} 550w,{%- endif -%}
									{%- if image_mobile.width >= 750 -%}{{ image_mobile | image_url: width: 750 }} 750w,{%- endif -%}
									{{ image_mobile | image_url }} {{ image_mobile.width }}w"
									sizes="100vw"
									src="{{ image_mobile | image_url: width: 750 }}"
									loading="lazy"
									alt="{{ image_mobile.alt | escape }}"
									width="{{ image_mobile.width }}"
									height="{{ image_mobile.width | divided_by: image_mobile.aspect_ratio | round }}"
									class="m-image-comparison--image-mobile"
								>
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
			<button class="m-image-comparison__button">
				<span><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 11 16">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.5C0 0.223858 0.223858 0 0.5 0C0.776142 0 1 0.223858 1 0.5V15.5C1 15.7761 0.776142 16 0.5 16C0.223858 16 0 15.7761 0 15.5V0.5ZM5 0.5C5 0.223858 5.22386 0 5.5 0C5.77614 0 6 0.223858 6 0.5V15.5C6 15.7761 5.77614 16 5.5 16C5.22386 16 5 15.7761 5 15.5V0.5ZM11 0.5C11 0.223858 10.7761 0 10.5 0C10.2239 0 10 0.223858 10 0.5V15.5C10 15.7761 10.2239 16 10.5 16C10.7761 16 11 15.7761 11 15.5V0.5Z" fill="currentColor"></path>
				</svg></span>
			</button>
		</m-image-comparison>
	</div>
</section>

{% schema %}
{
  "name": "Before/after image slider",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Default"
        },
        {
          "value": "w-full",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Use container box"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Before/after image slider"
    },
    {
      "type": "html",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "horizontal",
      "options": [
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "vertical",
          "label": "Vertical"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Image height",
      "default": "adapt",
      "options": [
        {
          "label": "Adapt to image",
          "value": "adapt"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom Attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "image",
      "name": "Before/after image slider",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "image_picker",
          "label": "Image mobile",
          "id": "image_mobile"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "heading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Before/after image slider",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "heading": "Before"
          }
        },
        {
          "type": "image",
          "settings": {
            "heading": "After"
          }
        }
      ]
    }
  ]
}
{% endschema %}
